h1{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 35px;
    text-align: center;
}
h2{
    text-align: center;
    font-size:15px;
    font-family:Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: oblique;
}
h3{
    text-align: left;
    font-size:15px;
    font-family:Cochin, Georgia, Times, 'Times New Roman', serif;
}
p {
    font-size:medium;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

body {
    background-color:rgb(255, 255, 255);
    margin: 10px; 
    
}

a{
    color: darkblue;
}
li{
    list-style:inside;
}
