.portfolio-title{
     font-family: "Tinos", serif;
  font-weight: 400;
  font-style: normal;
}

h1{
     font-family: "Tinos", serif;
  font-weight: 400;
  font-style: normal;
    font-size: 35px;
    text-align: center;
}
h2{
    text-align: center;
    font-size:15px;
    font-family:Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: oblique;
}
h3{
    text-align: left;
    font-size:15px;
    font-family:Cochin, Georgia, Times, 'Times New Roman', serif;
}
p {
    font-size:medium;
     font-family: "Tinos", serif;
  font-weight: 400;
  font-style: normal;
     text-align: center;
  
}

body {
    background-color:rgb(255, 255, 255);
    margin: 20px auto;
    max-width: 1200px;
}

header {
    padding: 10px;
    margin-bottom: 10px;
    background-color: darkred;
    text-align: center;
    text-decoration: white;
    text-transform: uppercase;
    font-weight: bold;
    font-size: large;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

header .portfolio-title {
    font-size: 1.5em;
    font-weight: 900;
    letter-spacing: 1px;
}

header a {
    color: black;
    text-decoration: none;
}

header a:hover {
    text-decoration: underline;
}

a{
    color: darkred;
}

li{
    list-style:inside;
}

.bio-section {
    overflow: auto;
    margin-bottom: 20px;
}

.head {
    width: 100%;
    max-width: 300px;
    height: auto;
    border-radius: 8px;
    float: left;
    margin-right: 20px;
    margin-bottom: 10px;
}

.audio {
    width: 300px;
    float:left;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;

}
